@using Soit.Authentication.Protos;
@{
    ViewBag.Title = "Login";
    //var model = ViewData["result"] as LoginReply;
}

<link href="~/css/Login.css" rel="stylesheet" type="text/css" />
<body>
    <div id="login">
        <h1>Login</h1>
        <form method="post" action="Login">
            <input type="text" required="required" placeholder="用户名" name="UserName" id="UserName">
            <input type="password" required="required" placeholder="密码" name="Cipher" id="Cipher">
            <button class="but" type="submit" >登录</button>
        </form>
    </div>
</body>


